<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="divport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<title>引才引智</title>
		<link rel="stylesheet" type="text/css" href="../../css/public/header.css" />   
		<link rel="stylesheet" type="text/css" href="../../css/index/forgetPassword.css" /> 
	</head> 
	<body>
		<div class="container" id="app">
			 <div class="bg"></div>
			 <div class="main"> 
			 	<div class="dot1"></div>
			 	<div class="dot2"></div>
			 	<div class="dot3"></div>
			 	<div class="dot4"></div>
			 	<div class="dot5"></div>
			 	<div class="cont">
			 		<p class="welcome">欢迎来到</p>
			 		<p class="title">重置密码</p>
			 		<div class="input-group">
			    		<!--<label>新密码</label>-->
			    		<img class="icon hide" src="../../img/index/icon/icon_pwd.png" alt="" />
			    		<input type="password" v-model="loginForm.password" name="" class="account" value="" placeholder="新密码"/>
			    	</div>
			    	<div class="input-group pwd-group">
			    		<!--<label>确认密码</label>-->
			    		<img class="icon hide" src="../../img/index/icon/icon_pwd.png" alt="" />
			    		<input type="password" v-model="loginForm.repassword" name="" class="password" value="" placeholder="确认密码"/> 
			    	</div> 
			    	<div class="login" @click="login">下一步</div>
			 	</div>
			 </div>
		</div>

		<script type="text/javascript" src="../../js/jquery.js"></script>     
		<script type="text/javascript" src="../../js/config.js"></script>     
		<script type="text/javascript" src="../../js/vue.min.js"></script>     
	</body> 
	<script> 
		if(/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
			location.href = "../home/forgetPassword.html";
		} else {} 
		var vm = new Vue({
			el: '#app',
			data: {
				indexText: "首页",
				lang: "cn",
				languageText: "English", 
				loginForm: {
			        account: '',
			        password: '',
			        repassword: '',
			    }
			}, 
			methods: {
				login() {
					let that = this;
					if( that.loginForm.password === '' || that.loginForm.repassword === '') {
						alert('密码不能为空');
					}else if(that.loginForm.password !== that.loginForm.repassword) {
						alert('两次输入密码不一致');
					}else {
						$.ajax({
							url: config.apiHost +'login/forgotPass',
							type: 'POST', //GET
							async: true, //或false,是否异步
							data: {
								account:parseUrl().account,
								password:that.loginForm.password
							},
							dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
							success: function (data, textStatus, jqXHR){
								typeof data == "object"?'':data=JSON.parse(data);
								// 发送成功
//								console.log(data);
								if(data.status == 'ok'){
									alert(data.result); 
									window.location.href = "login.html"; 
								}else{
									alert(data.result);
								}
							},
							error: function (xhr, textStatus){
								// 发送失败
								console.log('错误')
								console.log(xhr)
								console.log(textStatus)
							},
						})
	                 }
				}  
			}
		});
		$(function(){
			$(".password").on("focus",function(){
				$(this).parent().children("label").hide();
				$(this).parent().children(".icon").show();
				$(this).parent().addClass("act");
			})
			$(".account").on("focus",function(){
				$(this).parent().children("label").hide();
				$(this).parent().children(".icon").show();
				$(this).parent().addClass("act");
			})
			$(".password").on("blur",function(){ 
				$(this).parent().removeClass("act");
			})
			$(".account").on("blur",function(){ 
				$(this).parent().removeClass("act");
			})
		})
	</script>
</html>