<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="divport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <title>河北省引才引智网</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/public/header.css" />
    <link rel="stylesheet" type="text/css" href="../../css/public/footer.css" />
    <link rel="stylesheet" type="text/css" href="../../css/public/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index/planDetail.css" />
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="left">
                <div class="logo">
                    <img src="../../img/icon/logo.png" />
                </div>
                <p>支持单位：河北省外国专家局</p>
            </div>
            <div class="right">
                <div class="htel">
                    <img src="../../img/icon/icon_tel.png" />
                    <div class="line"></div>
                    <span class="tel">0311-85111217</span>
                </div>
                <div class="email">service@hbafea.com</div>
            </div>

            <div class="search-group">
                <div class="search">
                    <input type="text" v-model="keyword" name="keywords" id="keywords" value="" placeholder="搜索" />
                </div>
				<div class="search-btn" @click="searchFun">搜索</div>
            </div>
        </div>
        <div class="navBar">
            <div class="nav">
                <ul class="nav-list">
					<li><a href="../../index.html"><span class="indexPage">{{indexText}}</span></a></li>
                    <li v-for="item in navBar" :class="[parentid == item.id?'act':'']"><span>{{item.typename}}</span>
                        <ul class="dropdown-menu">
                            <li v-on:click="articleList(item.childList[0].id,item.id,0)"></li>
                            <li v-for="item1 in item.childList" v-on:click="articleList(item1.id,item.id)">
                                <a>{{item1.typename}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
				<div class="chinese" @click="changeLang"> 
                    <span>{{languageText}}</span>
                    <i class="iconfont icon-sanjiao_xia"></i>
                </div>
                <img class="avatar" src="../../img/icon/icon_avatar.png" />
            </div>
        </div>

        <div class="main">
            <div class="second-nav" v-if="smallNav && position">
                <div class="list">
                    <span v-for="item in smallNav" :class="[typeid == item.id?'act':'']"
                        v-on:click="articleList(item.id,parentid)">{{item.typename}}</span>
                </div>
                <div class="position" v-if="position">{{yourposition}}><span>{{position}}</span></div>
            </div>
            <div class="mcont">
                <div class="left">
                    <div class="name" v-if="article.title">{{article.title}}</div>
                    <div class="time-view" v-if="article">
                        <span class="time" v-if="article.add_time">{{article.add_time | getDate}}</span>
                        <span class="from" v-if="article.typename">{{article.typename}}</span>
                        <span class="writer" v-if="article.author">作者：{{article.author}}</span>
                        <div class="view" v-if="article.click">
                            <i class="iconfont icon-yanjing"></i>
                            <span>{{article.click}}次浏览</span>
                        </div>
                    </div>
                    <hr class="line" v-if="article" />
                    <div class="newsCont" v-html="articleCont"></div>
                    <div class="page">
                        <div class="prev" v-if="front">
                            上一篇：<a :title="front.title"><span
                                    v-on:click="articleDetail(front.aid)">{{front.title}}</span></a>
                        </div>
                        <div class="next" v-if="after">
                            下一篇：<a :title="after.title"><span
                                    v-on:click="articleDetail(after.aid)">{{after.title}}</span></a>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="plan-entered">
                        <div class="title">计划报名</div>
                        <div class="info_input">
                            <input v-model="applyObj.name" :class="[typeid == 19 || typeid == 20 || typeid == 21 || typeid == 22?'name lineInput':'name lineInput active']" placeholder="姓名" type="text" />
                            <select class="select-box"  v-model="applyObj.sex" v-if="typeid!=19 && typeid!=20 && typeid!=21 && typeid!=22">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                            <input class="phone lineInput" v-model="applyObj.phone" placeholder="电话" type="text" />
                            <div class="flex-def flex-zBetween lineInput" v-if="typeid == 19 || typeid == 20 || typeid == 21 || typeid == 22">
                                <select class="select-box" v-model="applyObj.sex">
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                                <input  v-model="applyObj.number" class="name lineInput active" placeholder="人数" type="number" />
                            </div>
                            <input class="email lineInput" v-model="applyObj.email" placeholder="邮箱" type="text" />
                            <input class="company lineInput" placeholder="企业"  v-model="applyObj.enterprise_name" v-if="typeid == 19||typeid==20|| typeid == 21 || typeid == 22" type="text" />
                            <textarea id="more" cols="30" rows="10" placeholder="备注" v-model="applyObj.info" class="lineInput moreInfo"></textarea>
                            <div class="submit-btn" @click="applyFun">提交</div>
                        </div>
                    </div>
                    <!-- news-recommend end -->
                </div>
            </div>
        </div>
        <div class="contact-gotop">
            <div class="contact">
                <img src="../../img/icon/index/icon_kefu.png" alt="" />
            </div>
            <div class="gtop">
                <img src="../../img/icon/index/icon_gotop.png" alt="" />
            </div>
        </div>
        <div class="footer">
            <div class="wrap">
                <div class="left">
                    <p>支持单位: 河北省外国专家局</p>
                    <p>主办单位: 河北省国际人才交流协会、河北省国际信息技术交流协会</p>
                    <p>协办单位：硅谷（石家庄）创新中心 、河北坤展博宏科技有限公司</p>
                </div>
                <div class="right">
                    <img class="code" src="../../img/icon/icon_code.jpg" alt="" />
                    <div class="contact-us">
                        <p>联系我们</p>
                        <div class="email">
                            <img src="../../img/icon/icon_email.png" />
                            <span>service@hbafea.com</span>
                        </div>
                        <div class="email">
                            <img src="../../img/icon/icon_telphone.png" />
                            <span>0311-85111217(8:30-17:30)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="wrap">
                <a href=""><span>关于我们</span></a> <span>|</span> <a
                    href="http://www.beian.miit.gov.cn"><span>备案号：冀ICP备19031285号-1</span></a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../../js/jquery.js"></script>
    <script type="text/javascript" src="../../js/config.js"></script>
    <script type="text/javascript" src="../../js/rest.js"></script>
    <script type="text/javascript" src="../../js/vue.min.js"></script>
    <script type="text/javascript" src="../../js/index/planDetail.js"></script>
</body>
    <script>
        $('.select-box').click(function (params) {
            $(this).find('ul').show();
        });
        $('.select-box li').click(function (params) {
            $(this).parent('ul').hide();
        });
    </script>
</html>